body,footer{
    display: flex;
    flex-direction: column; 
}

ul,ol{
    margin: 0;
    padding: 0;
}

main{

    flex: 1;
    /*
    flex-grow-- 1/0
    flex-shrink -- 1/0
    flx-basis -- never use percentage. px/auto

    */
}

header{
    display: flex;
    flex-wrap: wrap;
}

header > nav {
     list-style: none;
     text-align: center;  
     border: solid;
}

header > nav > ul:first-child > li{
        padding: 8px;
        list-style: none;
        font-weight: 800;
}

header > nav > ul:last-child{
    display:flex;
    margin: 0px;
}
header > nav > ul:last-child>li>a{
    border: 2px solid gray;
}

header> nav > ul:last-child > li {
    display: contents;
}

header a{
     flex:1;
     text-decoration: none;
     text-transform: uppercase;
}


nav{
    width: 100%;
}


main header{
    flex-direction: column;
}

main > header > ul {
    background-color: black;
    text-align: center;
}


main > header > ul > li> a> strong{
       font-size: 30px;
       color:violet;
      }


main > header > ul > li> a> p{
    font-size:30px;
    color: white;
}

main > header > ul > li> a> span{
    font-size: 20px;
    color: white;
}


main > section {
    display: flex;
    flex-direction: column;
}




/*




*/