*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#profilContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img{
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}
h2,p{
    text-align: center;
}